.container-fluid {
  display: flex;
  -webkit-display: flex;
  flex-grow: 1;
  flex-direction: column;
  height: 100%;
}

.container {
  display: flex;
  -webkit-display: flex;
  flex-grow: 1;
  flex-direction: column;
  height: 100%;
}

@media screen and (min-width: 0px) and (max-width: 767px) {
  .container {
    padding: 0px 20px 0px 20px;
  }
}

@media screen and (min-width: 768px) and (max-width: 991px) {
  .container {
    margin: 0px 100px 0px 100px;
  }
}

@media screen and (min-width: 992px) {
  .container {
    margin: 0px 200px 0px 200px;
  }
}

