canvas {
  display: none;
}

.gameCanvas {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: all 1s;
}

.gameCanvasShow {
  opacity: 1;
  display: block;
}
